extends layout
block style
      link(rel='stylesheet', href='/stylesheets/style.css')
      link(rel='stylesheet', href='/stylesheets/nav.css')
block app
  script(src="https://sad.adsgram.ai/js/sad.min.js")
block content
  nav 
    .profile 
      img(src="/images/image 20.png", alt="profile")
    .search 
      img(src="/images/Search.svg", alt="search icon")
  header 
    h1 Hello,
     br 
     | stanley O. 👋🏻
    //- your invest section
    section.your-invest
      .head 
        h5 Your Investment
        .profit 
          h5 Profit
          img(src="/images/Arrow - Up Circle.svg", alt="drop down")
      section.invest-card 
        div 
          .icon
            div
              img(src="/images/Group 32.svg", alt="icon")
            p Bitcoin Wallet
          .option 
            img(src="/images/Group 33.svg", alt="option icon")
        div 
          .balance 
            p.bold $188575.41
            p.fade Available Balance
          .rate
            .state
              div
                img(src="/images/Arrow - Up.svg", alt="price state")
              p.up 232.5%
            p.fade Last 7 day
  button#ad show ads
block nav
  include ./nav.pug
block script
  script(src="/scripts/adgram.js")
