nav.bar
  div.tap
    img(src="/icon/touch_app_24dp_E8EAED_FILL0_wght400_GRAD0_opsz24.svg", alt="touch_app_24dp_E8EAED_FILL0_wght400_GRAD0_opsz24")
    p tap
  div.tap
    img(src="/icon/arcticons--mods-maps-skins-for-minecraft.svg", alt="mine")
    p mine
  div.tap
    img(src="/icon/group_add_24dp_E8EAED_FILL0_wght400_GRAD0_opsz24.svg", alt="alt")
    p friends
  div.tap
    img(src="/icon/deployed_code_24dp_E8EAED_FILL0_wght400_GRAD0_opsz24.svg", alt="earn icon")
    p earn
  div.tap
    img(src="/icon/account_balance_wallet_24dp_E8EAED_FILL0_wght400_GRAD0_opsz24.svg", alt="wallet")
    p wallet