extends layout
block style
  link(rel='stylesheet' href='/stylesheets/onboarding.css')
block content
  header
    nav 
      button Skip
    article
      .cover 
        img(src="/images/Rectangle 11742 (2).png", alt="onboarding 1")
      .detail 
        h1 New Collection of NFT’s
        p Get a huge collection of NFT from all of the different categories