extends layout
block style
      link(rel='stylesheet', href='/stylesheets/onboarding.css')
block content
  header
    article
      h1 collect your rere digital art
      p Lorem id culpa enim amet dolor consectetur est nostrud tempor nisi
    figure
      img(src="/images/ei_1729160957370-removebg-preview.png", alt="alt").class
    div.lock
      div.unlock